/* Custom Properties */

:root {
    --bg-color: rgb(240, 240, 240);
    --font-raleway: "Raleway", sans-serif;
    --font-color: rgba(217, 0, 98, 0.75);
    --link-color: #509EE3;

    --color-primary-orange: hsl(25, 97%, 53%);
    --color-secundary-white: hsl(0, 0%, 100%); 
    --color-secundary-light-grey: hsl(217, 12%, 63%);
    --color-secundary-medium-grey: hsl(216, 12%, 54%);
    --color-secundary-dark-blue-opacity: rgb(72, 83, 95);
    --color-secundary-dark-blue: rgb(37, 45, 55);
    --color-secundary-very-dark-blue:hsl(216, 12%, 8%);
    --font-overpass: 'Overpass', sans-serif;
}

/* Reset */

html {
    box-sizing: border-box;
    font-family: var(--font-overpass);
    font-size: 15px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
}

a {
    color: var(--link-color);
    transition: all .5s ease-out;
}

a:hover {
    opacity: 0.75;
}

h1 {
    margin: 0px;
    font-size: 2rem;
}

h2 {
    margin: 0px;
    font-size: 1.5rem;
}

h3 {
    margin: 0px;
    font-size: 1.25rem;
}

h4 {
    margin: 0px;
    font-size: 1rem;
}

h5 {
    margin: 0px;
    font-size: 0.85rem;
}

h6 {
    margin: 0px;
    font-size: 0.7rem;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.6;
    margin: 0;
}

input[type="button"] {
    border: none;
}

input[type="submit"] {
    border: none;
}

/* Components */

.container {
    min-width: 300px;
    max-width: 370px;
    min-height: 400px;
    max-height: 450px;
    width: 100%;
    height: 65%;
    border-radius: 1rem;
    background: rgb(37,45,55);
    background: linear-gradient(180deg, rgba(37,45,55,1) 24%, rgba(30,39,50,1) 51%, rgba(27,32,40,1) 79%);
    padding: 1.5rem;
}

.container-icon {
    width: 15%;
    height: 10%;
    border-radius: 50%;
    background-color: var(--color-secundary-dark-blue-opacity);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

.container-text {
    padding-top: .8rem;
    width: 100%;
    height: 40%;
}

.container-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
}

.container-rating-number {
    text-align: center;
    border-radius: 50%;
    width: 18%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secundary-dark-blue-opacity);
    color: var(--color-secundary-medium-grey);
    transition: background-color .2s ease;
}

.container-rating-number:hover {
    color: var(--color-secundary-white);
    background-color: var(--color-primary-orange);
    cursor: pointer;
    transition: background-color .5s ease;
}

.container-rating-number:focus {
    background-color: var(--color-secundary-medium-grey);
    color: var(--color-secundary-white);
    transition: background-color .5s ease;
}

.input-submit {
    width: 100%;
    height: 15%;
    border-radius: 5rem;
    line-height: 3;
    color: white;
    background-color: var(--color-primary-orange);
    transition: background-color .2s ease;
}

.input-submit:hover {
    background-color: white;
    transition: background-color .5s ease;
    cursor: pointer;
    color: var(--color-primary-orange)
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    text-align: center;
    font-family: var(--font-raleway);
    color: var(--color-secundary-white)
}

/* Utilities */

.centrar-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

/* Site Styles */

body {
    padding: 1rem;
    position: relative;
    background-color: var(--color-secundary-very-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-icon img {
    padding: .7rem;
    width: 100%;
    height: 100%;
}

.container-text-h1 {
    font-size: 1.6rem;
    color: var(--color-secundary-white);
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.container-text-h2 {
    font-size: 1rem;
    color: var(--color-secundary-medium-grey);
}

@media screen and (min-width: 375px) {
    .container-icon {
        max-height: 40px;
        max-width: 40px;
    }
    .container-text-h1 {
        font-size: 1.8rem;
        color: var(--color-secundary-white);
        padding-top: .5rem;
        padding-bottom: 1rem;
    }
    
    .container-text-h2 {
        font-size: 1.2rem;
        color: var(--color-secundary-medium-grey);
    }
}

.modal {
    width: 100vh;
    height: 100vh;
    position: absolute;
    background-color: black;
    opacity: .9;
    transition: opacity 10s ease-in;
}

.modal:focus {
    transition: opacity 10s ease-out;
}